@import url(sanitize.css);
@import "$lib/vars.scss";

@layer default {
  body {
    font-family: Lexend, Arial, Helvetica, sans-serif;
    color: var(--color-foreground);
    background-color: var(--color-background);
    font-size: 14pt;
  }

  a {
    color: var(--color-primary);

    &:hover {
      background-color: var(--color-background-light);
    }
  }

  .page {
    position: relative;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
  }

  .unstyled-link {
    text-decoration: inherit;
    color: inherit;
  }
}

@font-face {
  font-family: "Filo";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("/fonts/Filo/Filo.ttf"), url("/fonts/Filo/Filo.otf");
}
